<?xml version="1.0" encoding="UTF-8"?>
						<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
						<plist version="1.0">
						<dict>
						   <key>items</key>
						   <array>
						       <dict>
						           <key>assets</key>
						           <array>
						               <dict>
						                   <key>kind</key>
						                   <string>software-package</string>
						                   <key>url</key>
						                   <string>http://down.weapp.com/apps/zb/002/40/93/39/599dbd3d1a2ab4e16480a1b0.ipa</string>
						               </dict>
						               <dict>
						                   <key>kind</key>
						                   <string>display-image</string>
						                   <key>needs-shine</key>
						                   <true/>
						                   <key>url</key>
						                   <string>http://www.weapp.com/picture/app_ios/cn/002/40/93/39/57x57bb.png</string>
						                </dict>
										<dict>
										<key>kind</key>
										<string>full-size-image</string>
										<key>needs-shine</key>
										<true/>
										<key>url</key><string>http://www.weapp.com/picture/app_ios/cn/002/40/93/39/512x512bb.png</string>
										</dict>
						           </array>
						           <key>metadata</key>
						           <dict>
						               <key>bundle-identifier</key>
						               <string>G8MMVS2ZBN.com.ng.simulator</string>
						               <key>bundle-version</key>
						               <string>1.7.3</string>
						               <key>kind</key>
						               <string>software</string>
						               <key>title</key>
						               <string>NewGamePad - Asterix Installer</string>
						           </dict>
						       </dict>
						   </array>
						</dict>
						</plist>